<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis and Insights</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to external CSS -->
    <!-- Link to the tracking JavaScript -->
    <!-- <script src="/static/tracking.js"></script> -->
    <!-- <script src="https://d28lb40e3hdlc7.cloudfront.net/scaleX_pixel_v1.js?api_url=http://127.0.0.1:8000/collect""></script> -->
    <!-- <script src="/static/scaleX_pixel_v6.js"></script> -->
</head>

<body>
    <div class="analysis-insights-top-background">
        <div class="header-row">
            <div class="logo">
                <img src="../static/scaletrix-logo.png" alt="Scaletrix.ai Logo">
            </div>
            <h1 class="h1_heading">Customer and Digital Intelligence</h1>
        </div>
        <!-- Heading for the section -->
        <h1 class="analysis-insights-heading">Analysis & Insights</h1>

        <!-- Add this section for App ID and Logout Button -->
        <div class="header-actions">
            <p id="app-id-display" class="app-id">App ID: <span id="app-id">{{app_id}}</span></p>
            <a id="logout-button" class="logout-button" href="/logout">Logout</a>
        </div>
    </div>

    <!-- <div class="wave-divider">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100">
            <path fill="#097879" fill-opacity="1" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
                c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
                c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
        </svg>
    </div> -->

    <div class="layout-container-new">
        <!-- Left Side Panel -->
        <div class="side-panel-new" id="side-panel" onmouseover="expandSidebar()" onmouseout="collapseSidebar()">
            <!-- Small vertical tab for when the panel is collapsed -->
            <div class="small-panel-tab">
                <div class="small-panel-tab-menu-button">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="currentColor">
                        <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                    </svg>
                </div>
                <div class="small-panel-icon-wrapper">
                    <svg class="section-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                        width="24px" fill="currentColor">
                        <path
                            d="M440-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560ZM884-20 756-148q-21 12-45 20t-51 8q-75 0-127.5-52.5T480-300q0-75 52.5-127.5T660-480q75 0 127.5 52.5T840-300q0 27-8 51t-20 45L940-76l-56 56ZM660-200q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29Zm-540 40v-111q0-34 17-63t47-44q51-26 115-44t142-18q-12 18-20.5 38.5T407-359q-60 5-107 20.5T221-306q-10 5-15.5 14.5T200-271v31h207q5 22 13.5 42t20.5 38H120Zm320-480Zm-33 400Z" />
                    </svg>
                    <span class="small-panel-arrow">›</span> <!-- Small panel arrow -->
                </div>

                <div class="small-panel-icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="currentColor">
                        <path
                            d="M400-320q100 0 170-70t70-170q0-100-70-170t-170-70q-100 0-170 70t-70 170q0 100 70 170t170 70Zm-40-120v-280h80v280h-80Zm-140 0v-200h80v200h-80Zm280 0v-160h80v160h-80ZM824-80 597-307q-41 32-91 49.5T400-240q-134 0-227-93T80-560q0-134 93-227t227-93q134 0 227 93t93 227q0 56-17.5 106T653-363l227 227-56 56Z" />
                    </svg>
                    <span class="small-panel-arrow">›</span> <!-- Small panel arrow -->
                </div>

                <div class="small-panel-icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path
                            d="M7 24h-6v-6h6v6zm8-9h-6v9h6v-9zm8-4h-6v13h6v-13zm0-11l-6 1.221 1.716 1.708-6.85 6.733-3.001-3.002-7.841 7.797 1.41 1.418 6.427-6.39 2.991 2.993 8.28-8.137 1.667 1.66 1.201-6.001z" />
                    </svg>
                    <span class="small-panel-arrow">›</span> <!-- Small panel arrow -->
                </div>

                <div class="small-panel-icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path
                            d="M17.997 18h-11.995l-.002-.623c0-1.259.1-1.986 1.588-2.33 1.684-.389 3.344-.736 2.545-2.209-2.366-4.363-.674-6.838 1.866-6.838 2.491 0 4.226 2.383 1.866 6.839-.775 1.464.826 1.812 2.545 2.209 1.49.344 1.589 1.072 1.589 2.333l-.002.619zm4.811-2.214c-1.29-.298-2.49-.559-1.909-1.657 1.769-3.342.469-5.129-1.4-5.129-1.265 0-2.248.817-2.248 2.324 0 3.903 2.268 1.77 2.246 6.676h4.501l.002-.463c0-.946-.074-1.493-1.192-1.751zm-22.806 2.214h4.501c-.021-4.906 2.246-2.772 2.246-6.676 0-1.507-.983-2.324-2.248-2.324-1.869 0-3.169 1.787-1.399 5.129.581 1.099-.619 1.359-1.909 1.657-1.119.258-1.193.805-1.193 1.751l.002.463z" />
                    </svg>
                    <span class="small-panel-arrow">›</span> <!-- Small panel arrow -->
                </div>

                <div class="small-panel-icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path
                            d="M12 2c-6.627 0-12 5.373-12 12 0 2.583.816 5.042 2.205 7h19.59c1.389-1.958 2.205-4.417 2.205-7 0-6.627-5.373-12-12-12zm-.758 2.14c.256-.02.51-.029.758-.029s.502.01.758.029v3.115c-.252-.027-.506-.042-.758-.042s-.506.014-.758.042v-3.115zm-5.763 7.978l-2.88-1.193c.157-.479.351-.948.581-1.399l2.879 1.192c-.247.444-.441.913-.58 1.4zm1.216-2.351l-2.203-2.203c.329-.383.688-.743 1.071-1.071l2.203 2.203c-.395.316-.754.675-1.071 1.071zm.793-4.569c.449-.231.919-.428 1.396-.586l1.205 2.875c-.485.141-.953.338-1.396.585l-1.205-2.874zm1.408 13.802c.019-1.151.658-2.15 1.603-2.672l1.501-7.041 1.502 7.041c.943.522 1.584 1.521 1.603 2.672h-6.209zm4.988-11.521l1.193-2.879c.479.156.948.352 1.399.581l-1.193 2.878c-.443-.246-.913-.44-1.399-.58zm2.349 1.217l2.203-2.203c.383.329.742.688 1.071 1.071l-2.203 2.203c-.316-.396-.675-.755-1.071-1.071zm2.259 3.32c-.147-.483-.35-.95-.603-1.39l2.86-1.238c.235.445.438.912.602 1.39l-2.859 1.238z" />
                    </svg>
                    <span class="small-panel-arrow">›</span> <!-- Small panel arrow -->
                </div>
            </div>

            <!-- Full content of the panel, shown only on hover -->
            <div class="full-panel-content">
                <h2>Analysis Sections</h2>

                <!-- Business Overview Section -->
                <div class="collapsible-section">
                    <div class="collapsible-header" onclick="toggleSubAnalysis('business-overview')">
                        <div class="icon-wrapper">
                            <svg class="section-icon" xmlns="http://www.w3.org/2000/svg" height="24px"
                                viewBox="0 -960 960 960" width="24px" fill="currentColor">
                                <path
                                    d="M440-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560ZM884-20 756-148q-21 12-45 20t-51 8q-75 0-127.5-52.5T480-300q0-75 52.5-127.5T660-480q75 0 127.5 52.5T840-300q0 27-8 51t-20 45L940-76l-56 56ZM660-200q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29Zm-540 40v-111q0-34 17-63t47-44q51-26 115-44t142-18q-12 18-20.5 38.5T407-359q-60 5-107 20.5T221-306q-10 5-15.5 14.5T200-271v31h207q5 22 13.5 42t20.5 38H120Zm320-480Zm-33 400Z" />
                            </svg>
                        </div>
                        <div class="text-arrow-wrapper">
                            <span class="collapsible-label">Business Overview</span>
                            <span class="arrow">›</span>
                        </div>
                    </div>
                    <div id="sub-business-overview" class="sub-analysis-collapsible">
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="business-overview-all"
                                onclick="toggleAllNew('business-overview')" />
                            <label for="business-overview-all"><b>Select All</b></label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="business-kpis" />
                            <label for="business-kpis">Business KPI's</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="waterfall" />
                            <label for="waterfall">Waterfall Analysis</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="decile" />
                            <label for="decile">Decile Analysis</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="demographics" />
                            <label for="demographics">Demographics Analysis</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="customer-migration" />
                            <label for="customer-migration">Customer Migration</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="revenue-migration" />
                            <label for="revenue-migration">Revenue Migration</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="rf-analysis" />
                            <label for="rf-analysis">RF Analysis</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="fm-analysis" />
                            <label for="fm-analysis">FM Analysis</label><br>
                        </div>
                    </div>
                </div>

                <!-- Digital Diagnostics & Insights Section -->
                <div class="collapsible-section">
                    <div class="collapsible-header" onclick="toggleSubAnalysis('digital-diagnostics-insights')">
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="currentColor">
                                <path
                                    d="M400-320q100 0 170-70t70-170q0-100-70-170t-170-70q-100 0-170 70t-70 170q0 100 70 170t170 70Zm-40-120v-280h80v280h-80Zm-140 0v-200h80v200h-80Zm280 0v-160h80v160h-80ZM824-80 597-307q-41 32-91 49.5T400-240q-134 0-227-93T80-560q0-134 93-227t227-93q134 0 227 93t93 227q0 56-17.5 106T653-363l227 227-56 56Z" />
                            </svg>
                        </div>
                        <div class="text-arrow-wrapper">
                            <span class="collapsible-label">Digital Diagnostics & Insights</span>
                            <span class="arrow">›</span>
                        </div>
                    </div>
                    <div id="sub-digital-diagnostics-insights" class="sub-analysis-collapsible">
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="digital-diagnostics-insights-all"
                                onclick="toggleAllNew('digital-diagnostics-insights')" />
                            <label for="digital-diagnostics-insights-all"><b>Select All</b></label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="traffic-drop-analysis" />
                            <label for="traffic-drop-analysis">Traffic Drop Analysis</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="conversion-rate-drop-analysis" />
                            <label for="conversion-rate-drop-analysis">Conversion Rate Drop Analysis</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="bounce-rate-analysis" />
                            <label for="bounce-rate-analysis">Bounce Rate Analysis</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="segmentation-based-behavior-analysis" />
                            <label for="segmentation-based-behavior-analysis">Segmentation-Based Behavior
                                Analysis</label><br>
                        </div>
                    </div>
                </div>

                <!-- campaign performance & management Section -->
                <div class="collapsible-section">
                    <div class="collapsible-header" onclick="toggleSubAnalysis('campaign-performance')">
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24"
                                viewBox="0 0 24 24">
                                <path
                                    d="M7 24h-6v-6h6v6zm8-9h-6v9h6v-9zm8-4h-6v13h6v-13zm0-11l-6 1.221 1.716 1.708-6.85 6.733-3.001-3.002-7.841 7.797 1.41 1.418 6.427-6.39 2.991 2.993 8.28-8.137 1.667 1.66 1.201-6.001z" />
                            </svg>
                        </div>
                        <div class="text-arrow-wrapper">
                            <span class="collapsible-label">Campaign Performance</span>
                            <span class="arrow">›</span>
                        </div>

                    </div>
                    <div id="sub-campaign-performance" class="sub-analysis-collapsible">
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="campaign-performance-all"
                                onclick="toggleAllNew('campaign-performance')" />
                            <label for="campaign-performance-all"><b>Select All</b></label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="key-performance-indicators" />
                            <label for="key-performance-indicators">Key Performance Indicators (KPIs)</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="engagement-metrics" />
                            <label for="engagement-metrics">Engagement Metrics</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="audience-analysis" />
                            <label for="audience-analysis">Audience Analysis</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="channel-performance" />
                            <label for="channel-performance">Channel Performance</label><br>
                        </div>
                    </div>

                </div>

                <!-- Behavioural Segmentation Section -->
                <div class="collapsible-section">
                    <div class="collapsible-header" onclick="toggleSubAnalysis('behavioural-segmentation')">
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24"
                                viewBox="0 0 24 24">
                                <path
                                    d="M17.997 18h-11.995l-.002-.623c0-1.259.1-1.986 1.588-2.33 1.684-.389 3.344-.736 2.545-2.209-2.366-4.363-.674-6.838 1.866-6.838 2.491 0 4.226 2.383 1.866 6.839-.775 1.464.826 1.812 2.545 2.209 1.49.344 1.589 1.072 1.589 2.333l-.002.619zm4.811-2.214c-1.29-.298-2.49-.559-1.909-1.657 1.769-3.342.469-5.129-1.4-5.129-1.265 0-2.248.817-2.248 2.324 0 3.903 2.268 1.77 2.246 6.676h4.501l.002-.463c0-.946-.074-1.493-1.192-1.751zm-22.806 2.214h4.501c-.021-4.906 2.246-2.772 2.246-6.676 0-1.507-.983-2.324-2.248-2.324-1.869 0-3.169 1.787-1.399 5.129.581 1.099-.619 1.359-1.909 1.657-1.119.258-1.193.805-1.193 1.751l.002.463z" />
                            </svg>
                        </div>
                        <div class="text-arrow-wrapper">
                            <span class="collapsible-label">Behavioural Segmentation</span>
                            <span class="arrow">›</span>
                        </div>
                    </div>

                    <div id="sub-behavioural-segmentation" class="sub-analysis-collapsible">
                        <div class="sub-analysis-collapsible-item" onclick="toggleAllNew('behavioural-segmentation')">
                            <input type="checkbox" id="behavioural-segmentation-all" />
                            <label for="behavioural-segmentation-all"><b>Select All</b></label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="scientific-approach" />
                            <label for="scientific-approach">Scientific Approach</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="segmentation-based-on-website-behavior" />
                            <label for="segmentation-based-on-website-behavior">Segmentation Based on Website
                                Behavior</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="purchase-behavior-segmentation" />
                            <label for="purchase-behavior-segmentation">Purchase Behavior Segmentation</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="behavioural-triggers-and-actions" />
                            <label for="behavioural-triggers-and-actions">Behavioural Triggers and Actions</label><br>
                        </div>
                    </div>

                </div>

                <!-- Digital Spend Optimization Section -->
                <div class="collapsible-section">
                    <div class="collapsible-header" onclick="toggleSubAnalysis('digital-spend-optimization')">
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24"
                                viewBox="0 0 24 24">
                                <path
                                    d="M12 2c-6.627 0-12 5.373-12 12 0 2.583.816 5.042 2.205 7h19.59c1.389-1.958 2.205-4.417 2.205-7 0-6.627-5.373-12-12-12zm-.758 2.14c.256-.02.51-.029.758-.029s.502.01.758.029v3.115c-.252-.027-.506-.042-.758-.042s-.506.014-.758.042v-3.115zm-5.763 7.978l-2.88-1.193c.157-.479.351-.948.581-1.399l2.879 1.192c-.247.444-.441.913-.58 1.4zm1.216-2.351l-2.203-2.203c.329-.383.688-.743 1.071-1.071l2.203 2.203c-.395.316-.754.675-1.071 1.071zm.793-4.569c.449-.231.919-.428 1.396-.586l1.205 2.875c-.485.141-.953.338-1.396.585l-1.205-2.874zm1.408 13.802c.019-1.151.658-2.15 1.603-2.672l1.501-7.041 1.502 7.041c.943.522 1.584 1.521 1.603 2.672h-6.209zm4.988-11.521l1.193-2.879c.479.156.948.352 1.399.581l-1.193 2.878c-.443-.246-.913-.44-1.399-.58zm2.349 1.217l2.203-2.203c.383.329.742.688 1.071 1.071l-2.203 2.203c-.316-.396-.675-.755-1.071-1.071zm2.259 3.32c-.147-.483-.35-.95-.603-1.39l2.86-1.238c.235.445.438.912.602 1.39l-2.859 1.238z" />
                            </svg>
                        </div>
                        <div class="text-arrow-wrapper">
                            <span class="collapsible-label">Digital Spend Optimization</span>
                            <span class="arrow">›</span>
                        </div>

                    </div>
                    <div id="sub-digital-spend-optimization" class="sub-analysis-collapsible">
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="digital-spend-optimization-all"
                                onclick="toggleAllNew('digital-spend-optimization')" />
                            <label for="digital-spend-optimization-all"><b>Select All</b></label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="spend-distribution-analysis" />
                            <label for="spend-distribution-analysis">Spend Distribution Analysis</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="return-on-ad-spend-analysis" />
                            <label for="return-on-ad-spend-analysis">Return on Ad Spend (ROAS) Analysis</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="cost-per-acquisition-analysis" />
                            <label for="cost-per-acquisition-analysis">Cost-Per-Acquisition (CPA) Analysis</label><br>
                        </div>
                        <div class="sub-analysis-collapsible-item">
                            <input type="checkbox" id="click-through-rate-analysis" />
                            <label for="click-through-rate-analysis">Click-Through Rate (CTR) Analysis</label><br>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Add a submit button at the bottom of the side panel -->
            <div class="submit-button-container">
                <button class="submit-button" onclick="handleSubmit()">Submit</button>
            </div>
        </div>

        <!-- Right Side Content for Charts -->
        <div class="content-panel-new">
            <!-- <h2 id="selected-analysis-title">Selected Analysis</h2> -->
            <div id="chart-container-new">
                <!-- Charts will be dynamically displayed here -->
            </div>
        </div>
    </div>

    <!-- Spinner Overlay (Global, hidden by default) -->
    <div id="loading-overlay" class="loading-overlay">
        <div class="loader"></div>
    </div>


    <script src="../static/scripts.js"></script> <!-- Link to external JavaScript -->
</body>

</html>