<link rel="stylesheet" href="/static/styles.css"> <!-- Link to external CSS -->
<script src="/static/scripts.js"></script> <!-- Link to external JavaScript -->
<!-- Link to the tracking JavaScript -->
<!-- <script src="/static/tracking.js"></script> -->
<!-- <script src="https://d28lb40e3hdlc7.cloudfront.net/scaleX_pixel_v1.js?api_url=http://127.0.0.1:8000/collect""></script> -->
<!-- <script src="/static/scaleX_pixel_v6.js"></script> -->

<!-- KPI Section -->
<div class=" container_analysis">
    <div class="subsection-title">Key Performance Indicators - KPIs (Business Overview)</div>
    <div class="kpi-container">
        {% for kpi, value in kpis.items() %}
        <div class="kpi-box">
            <h2>{{ kpi }}</h2>
            <p>{{ value }}</p>
        </div>
        {% endfor %}
    </div>
</div>